.header {
  background: var(--header-footer-bg);
  color: var(--header-footer-text);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.title {
  margin: 0;
  font-size: 2rem;
}

.buttons {
  display: flex;
  gap: 20px;
}