:root {
  --bg-color: #f0f8ff;
  --text-color: #333;
  --header-footer-bg: #4682b4;
  --header-footer-text: #fff;
  --main-bg: #fff;
  --main-text: #000000;
  --card-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --card-border: #b0c4de;
  --primary-color: #f0f8ff;
  --primary-hover: #b7ddff;
  --secondary-color: #f0f8ff;
  --secondary-hover: #b7ddff;
  --hover-bg-light: rgba(0, 0, 0, 0.05);
}

:root[data-theme="dark"] {
  --bg-color: #f0f8ff;
  --text-color: #ffffff;
  --header-footer-bg: #112240;
  --header-footer-text: #fdfdfd;
  --main-bg: #172a45;
  --main-text: #ffffff;
  --card-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  --card-border: #303f60;
  --primary-color: #1f4068;
  --primary-hover: #2a4d7a;
  --secondary-color: #1f4068;
  --secondary-hover: #2a4d7a;
  --hover-bg-light: rgba(255, 255, 255, 0.05);
}